body{
    background-image: url(../img/bg.jpg);
    background-size: cover;
}

.logo{
    background: url(../img/logo.png) 0px/80px no-repeat;
    height: 80px;
    width: 80px;
    margin-right: 10px; 
}
#links-div {
    background: #e0e0e0;
}

#links-div ul{
    list-style: none;
    padding: 0px;
    display: inline-flex;
}

#links-div ul li{
    padding: 0px 10px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
}

.location,.offer,.other,.operation-hours{
    margin:10px;
}